

		@keyframes slider {
	
	0% {
		left:0;
	}
	20% {
		left:0;
	}
	25% {
		left:-100%;
	}
	45% {
		left:-100%;
	}
	50% {
		left:-200%;
	}
	65% {
		left: -200%
	}
	70% {
		left:-300%;
	}
	75% {
		left:-300%;
	}
	100% {
		left:0;
	}
} 
#ImageSlider {
	overflow: hidden;
}
#ImageSlider figure {
	position: relative;
	width: 400%;
	margin: 0;
	top:0;
	animation:slider 20s infinite 0s;
}
#ImageSlider figure img {
	width:25%;
	height:500px;
	float: left;
}

  fieldset {
    margin: 0;
}

#ImageSlider1 {
	overflow: hidden;
}
#ImageSlider1 figure {
	position: relative;
	width: 400%;
	margin: 0;
	top:0;
	animation:slider 20s infinite 0s;
}
#ImageSlider1 figure img {
	width:25%;
	height:500px;
	float: left;
}

	